/.vs
/packages
/PCRBattleRecorder/bin
/PCRBattleRecorder/obj
/PCRTools/bin
/PCRTools/obj
/PCRTemplateImgTool/bin
/PCRTemplateImgTool/obj
/PCRArenaSearchScript/bin
/PCRArenaSearchScript/obj
/PCRBattleScripts/bin
/PCRBattleScripts/obj
/PCRPluginTest/bin
/PCRPluginTest/obj
/PackTools/bin
/PackTools/obj
/PCRPluginScripts/bin
/PCRPluginScripts/obj
/PackTemp
